{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>搜索内容: {{ keyword }}</title>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="title">
            <h3 style="line-height: 1.3">搜索到相关{{ cont }}内容如下：</h3>
        </div>

        {% for art in page_obj.object_list %}
            <article class="excerpt excerpt-{{ forloop.counter }}"><a class="focus" href="{% url 'detail' art.id %}"
                                                                      title="{{ art.title }}" target="_blank"><img
                    class="thumb" data-original="{{ MEDIA_URL }}{{ art.image }}"
                    src="{% static 'media/' %}{{ MEDIA_URL }}{{ art.image }}" alt="{{ art.title }}"
                    style="display: inline;"></a>
                <header><a class="cat" href="{% url 'list' art.category.name %}"
                           title="{{ art.category.name }}">{{ art.category.name }}<i></i></a>
                    <h2><a href="{% url 'detail' art.id %}" title="{{ art.title }}"
                           target="_blank">{{ art.title }}</a></h2>
                </header>
                <p class="meta">
                    <time class="time"><i class="glyphicon glyphicon-time"></i> {{ art.add_time }}</time>
                    <span class="views"><i class="glyphicon glyphicon-eye-open"></i>{{ art.click_num }}</span>
                    {# 评论数 #}
                    <a class="comment" title="评论">
                        <i class="glyphicon glyphicon-comment"></i> {{ art.cont_num }}
                    </a>
                </p>
                <p class="note">{{ art.desc }}</p>
            </article>
        {% endfor %}
        {% include 'pagenation.html' %}
    </div>
{% endblock %}